/* Css rules for the chess application */
.chess-board-inner {
	width: 360px;
	height: 360px;
	border: 1px solid #000;
	top: 0px;
}

.chess-board {
	width: 375px;
	height: 380px;
	padding: 0px;

}

.chess-board-label {
    font-size: 0.9em;
	font-weight: bold;
}

.chess-square-white, .chess-square-black {
    width: 45px;
    height: 45px;
}

.chess-square-white {
	background-color: rgb(157, 122, 89)
}

.chess-square-black {
    background-color: rgb(228, 190, 153)
}

.chess-piece, .chess-piece-threatened, .chess-piece-teaching {
    font-size: 45px;
    line-height: 45px;
    text-align: center;
	vertical-align: bottom;
}

.chess-piece-threatened {
	color: red;
}

.chess-piece-teaching {
	color: yellow;
}

.button-panel {
	margin: 10px;
	text-align: center;
    font-size: larger;
}

.button-panel button {
    padding-left:10px;
	padding-right:10px;	
}

.player-panel {
    margin: 10px;
    border: 10px;
    background-color: #fc9;
    width: 100%;	
    height: 100%;
    overflow: hidden;
    align: bottom;
}

.player-panel div {
	width: 50%;
    text-align: center;
	float: left;
}

.move-history {
    margin: 10px;
    border: 10px;
	float: bottom;
    overflow: auto;
}

.move-history span {
	#width: 50%;
    float: left;
    margin-right: 10px
}

.moveNumber, .moveText, .moveTextSelected {
	font-size: larger;
}

.moveNumber {
	font-weight: bold;
}

.moveText, .moveTextSelected {
    white-space: nowrap;
}

.moveTextSelected {
    background-color: yellow;
}
