@(username: String, jGame: String)(implicit request: RequestHeader)

@main(Some(username)) {
    
    <div class="page-header">
        <h1>Welcome to the chess room <small>You are playing as @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChess" class="row">
        <div class='span7'>
            <div id="chessBoard1"></div>
            <div class='buttonPanel'>
                <button type="button" id='newGameButton'>New Game</button>
                <button type="button" id='firstPositionButton'>&lt;&lt;</button>
                <button type="button" id='previousPositionButton'>&lt;</button>
                <button type="button" id='nextPositionButton'>&gt;</button>
                <button type="button" id='lastPositionButton'>&gt;&gt;</button>
            </div>
	        <div class="span3">
	            <h2>Members</h2>
	            <ul id="members">
	            </ul>
	        </div>
        </div>  
        <div class="span4" bgColor='yellow'>
            <div>
	            <h2>Players</h2>
	            <h3 id="whitePlayerName" width="50%"></h3>
	            <h3 id="blackPlayerName" width="50%"></h3>
            </div>
            <div>
                <h2>Move List</h2>
                <span id="moveHistory" />
            </div>
        </div>
	</div>
	
    <div id="dialog-select-promotion-piece" title="Promote to?" style="display: none">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please select the promotion piece.</p>
    </div>

    <script type="text/javascript">
        $(function() {
    	    new window.ChessMain.Chess("@routes.Application.chess(username).webSocketURL()").init()
        });
    </script> 
    
    
}
