@()(implicit flash: Flash)

@main(None) {
    
    @flash.get("error").map { errorMessage =>
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @errorMessage
            </p>
        </div>
        
    }
        
    <div class="alert-message block-message info">
        <p>
            <strong>This is based on the Play 2.0 Websocket sample application!</strong> 
            To start, choose a username and sign in using the top right form.
        </p>
    </div>
    
}