@(fen: String)

@import helper._

@main("Chess game") {
    
    <h1>Chess Game</h1>
    
    <div id="chessBoard1"></div>  
    
    <script type="text/javascript">
		var console,
		    pieceMoved = function (fromSquare, toSquare) {
		        "use strict";
		        console.log('pieceMoved - fromSquare=', fromSquare, ' toSquare=', toSquare);
		    },
		    props = {
		        cssPath: '@routes.Assets.at("stylesheets/chess.css")',
		        imageFolder: '@routes.Assets.at("images/board_and_pieces/")',
		        pieceMovedCallback: pieceMoved
		    };
		chessObj = new DHTMLGoodies.ChessFen(props);
		chessObj.loadFen('@fen', 'chessBoard1');
    </script>  
}